# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
'Eu sou Minerador de Dados!'

'Eu sou Minerador de Dados!'

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [3]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

3) Imprima o tipo de um determinado valor inteiro.

In [5]:
print(type(-4))
print(type(4.0))
type(2)

<class 'int'>
<class 'float'>

int

4) Converta o valor passado anteriormente para o tipo float

In [6]:
float(4)

4.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [9]:
str(4.0)

'4.0'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [11]:
print(round(2.898))
print(round(2.4545455,4))
print(round(287300303,-6))

3
2.4545
287000000

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [25]:
nome = 'Télio'
print(nome)
print(type(nome))
nome += ' Fernandes Mendes'
print(nome)
email, idade = 'telio.mendes@gmail.com', 41
print('E-mail: ',email)
print('Idade: ',idade,' anos')

Télio
<class 'str'>
Télio Fernandes Mendes
E-mail:  telio.mendes@gmail.com
Idade:  41  anos

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

break é uma instrução do Python. Assim é um nome protegido.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [32]:
opiniao = 'Python é uma maldição!'
print(opiniao[0])
print(opiniao[:6])
print(len(opiniao))
frase = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..'
print(frase.count('dados'))
print(frase.capitalize())
frase2 = frase.split()
print(frase2)

P
Python
22
2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..
['dados', 'é', 'o', 'novo', 'petróleo,', 'em', 'Deus', 'eu', 'confio,', 'para', 'o', 'resto', 'me', 'traga', 'dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [48]:
idades = [5,7,9,35,35,40,41,42,43]
print(idades)
print(idades[1])
print(len(idades))
idades[1] = 8
print(idades)
print(idades[1:])
idades.remove(35)
print(idades)

[5, 7, 9, 35, 35, 40, 41, 42, 43]
7
9
[5, 8, 9, 35, 35, 40, 41, 42, 43]
[8, 9, 35, 35, 40, 41, 42, 43]
[5, 8, 9, 35, 40, 41, 42, 43]

In [66]:
salarios = [ 900,1200,1500,800,12587,10000]
print(salarios)
print(10000 in salarios)
print(min(salarios))
print(max(salarios))
salarios.append(7000)
print(salarios)
salarios.extend([15000,9000])
print(salarios)
print(salarios.index(800))
salarios.sort()
print(salarios)
salarios.sort(reverse = True)
print(salarios)

[900, 1200, 1500, 800, 12587, 10000]
True
800
12587
[900, 1200, 1500, 800, 12587, 10000, 7000]
[900, 1200, 1500, 800, 12587, 10000, 7000, 15000, 9000]
3
[800, 900, 1200, 1500, 7000, 9000, 10000, 12587, 15000]
[15000, 12587, 10000, 9000, 7000, 1500, 1200, 900, 800]